.character {
  position: absolute;
  background: url("../img/character-sprite.png");
  overflow: hidden;
  transition: transform .1s linear;
  image-rendering: pixelated;
  //transition duration changed in js
  &.ia{
    background: url("../img/ai-sprite.png");
  }
}
