.character {
  position: absolute;
  background: url("../img/character-sprite.png");
  overflow: hidden;
  transition: left .1s linear, top .1s linear;
  image-rendering: pixelated;
  //transition duration changed in js
}
