html, body{
    padding: 0;
    margin: 0;
}

#app{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.game-container{
    position: relative;
    margin: auto;
    width: 600px;
    height: 600px;
    font-size: 0;
    background: rgba(0,0,0,2);
    user-select: none;
    .cell{
        background: url('../img/cell-sprite-new.png');
        background-size: cover;
        image-rendering: pixelated;
        width: 32px;
        height: 32px;
        position: absolute;
        &.solid{
            background: url('../img/solid-sprite.png');
            background-size: cover;
        }
        .content{
            background-size: cover;            
            &.destructible{
                background: url('../img/dirt-sprite-new.png');
                background-size: cover;
            }
            &.bonus{
                &.speed{
                    background: url('../img/powerup-speed.png');
                }
                &.range{
                    background: url('../img/powerup-range.png');
                }
                &.number{
                    background: url('../img/powerup-number.png');
                }
            }
        }
    }
}
